.card {
  margin: 0 auto;
  width: 570px;
  background-color: #fff;
  border: solid rgba(32, 7, 114, 0.2);
  border-width: 0 1px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column;
}

.name {
  width: 47%;
  margin: 7px 5% 7px auto;
}

.surname {
  width: 47%;
  margin: 7px auto;
}

input[type=button] {
  margin: 53px auto 60px auto;
  width: 237px;
  height: 103px;

  background: #F0C700;
  border-radius: 10px;

  font-family: NATS, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 101px;
  align-content: center;

  border: none;
  color: #fff;

  left: 50%;

  display: block;
}
